body{
    font-family: "Work Sans" , sans-serif;
    background-color: #C7D2DC;
    font-size: 16px;
    padding: 16px;
    height: 100%;
}

html{
    height: 100%;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.sidebar{
    position: sticky;
    top: 0%;
    left: 0%;
    min-height: 850px;
    height: 100%;
    padding: 16px 0px;
    max-width: 10rem;
    display: flex;
    color: var(--white);
    flex-direction: column;
    background-color: var(--sidebar-background);
    transition: max-width 0.1s ease-in-out;
}

body .collapsed .sidebar{
    max-width: 80%;
    display: flex;
    align-items: center;
}

body .collapsed .hide {
    position: absolute;
    display: none;
}

/*? search wrapper */
.search_wrapper{
    padding: 0 16 px;
    position: relative;
}

.search_wrapper input{
    background-color:  var(--background);
    height:  40px;
    width: 100%;
    border-radius: 8px;
    padding: 0 8px;
    padding-left: 32px;
    flex-grow: 1;
    outline: none;
    border: none;
}

.search_wrapper svg{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 26px;
    transform: translateY(-50%);
    pointer-events: none;
    right: 24px;
}

body .collapsed .search_wrapper svg{
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    color: var(--text-link);
    stroke: var(--text-link);
}

.search_wrapper input::-webkit-input-placeholder{
    color: var(--text-link);
    white-space: nowrap;
}

body.collapsed .search_wrapper input{
    max-width: 40px;
}

body.collapsed .search_wrapper
input::-webkit-input-placeholder{
    color: transparent;
}